.styling-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 734.72px;
    margin-top: 100px;
    padding: 50px;
    border: 4px solid var(--main);
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.editableContent:focus{
    border: none;
    outline: none;
}

.styling-controls.mobile-mode .textDirection{
    margin-bottom: 30px;
    text-align: center;
    gap: 10px;
}

.input-section{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    gap: 10px;
}

.selectorInput {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.splitGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 40px;
}

.styling-controls input{
    margin: 10px;
}

.range{
    width: 200px;
}

.range.color{
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, hsl(0, 100%, 50%) , hsl(50, 100%, 50%) , hsl(100, 100%, 50%) , hsl(150, 100%, 50%) , hsl(200, 100%, 50%) , hsl(250, 100%, 50%) , hsl(300, 100%, 50%), hsl(350, 100%, 50%));
    cursor: pointer;
    height: 8px;
    border-radius: 30px;
}

.hideGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.shadow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.colorBorder{
    grid-row-start: 2;
}

.toggleInput{
    width: 40px;
    height: 20px;
    justify-self: center;
    cursor: pointer;
}

.setBorderWidth{
    grid-row-start: 2;
}

.borderRadius{
    margin-bottom: 30px;
}

.cssCode{
  position: relative;
}

.showCodeButton{
    width: 150px;
    font-size: 16px;
    height: 40px;
    margin: 30px auto;
}

.styling-controls label{
    width: 170px;
    justify-self: end;
}

.styling-controls.dark-mode{
    border: 4px solid var(--tertiary);
    box-shadow: 1px 1px 15px var(--tertiary);
    
}




