.styling-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 607.61px;
    margin-top: 100px;
    padding: 50px;
    border: 4px solid var(--main);
    border-radius: 25px;
    text-align: center;
}

.editableContent:focus{
    border: none;
    outline: none;
}

.styling-controls.mobile-mode .textDirection{
    margin-bottom: 30px;
    text-align: center;
    gap: 10px;
}

.input-section{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    gap: 10px;
}

.selectorInput {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.splitGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 40px;
}

.styling-controls input{
    margin: 10px;
}

.range{
    width: 200px;
}

.range.color{
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, hsl(0, 100%, 50%) , hsl(50, 100%, 50%) , hsl(100, 100%, 50%) , hsl(150, 100%, 50%) , hsl(200, 100%, 50%) , hsl(250, 100%, 50%) , hsl(300, 100%, 50%), hsl(350, 100%, 50%));
    cursor: pointer;
    height: 8px;
    border-radius: 30px;
}

.hideGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.shadow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.colorBorder{
    grid-row-start: 2;
}

.toggleInput{
    width: 40px;
    height: 20px;
    justify-self: center;
    cursor: pointer;
}

.setBorderWidth{
    grid-row-start: 2;
}

.borderRadius{
    margin-bottom: 30px;
}

.showCodeButton{
    background-color: var(--main);
    color: var(--detail);
    border: none;
    border-radius: 25px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin: 30px auto;
}

.codeText{
    text-align: left;
    margin: auto;
    width: fit-content;
    background-color: var(--detail);
    padding: 15px;
    border-radius: 15px;
}

.cssCode{
    position: relative;
}

.copyButton{
    position: absolute;
    right: 30px;
    top: 50%;
    border: none;
    background: var(--detail);
    border-radius: 15px;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
}

.messageFlotant{
    position: absolute;
    background-color: var(--main);
    right: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 50%;
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    width: 60px;
    color: white;
    animation: fadeIn 3s ease;
}

.styling-controls label{
    width: 170px;
    justify-self: end;
}

.styling-controls.dark-mode{
    border: 4px solid var(--tertiary);
    box-shadow: 1px 1px 15px var(--tertiary);
    
}

.coolEffect{
    background: rgba( 29, 45, 80, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    z-index: 999;
    width: 500px;
    height: 500px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

  }
