.darkModeBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 4px solid var(--main);
    margin: 100px auto auto auto;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    gap: 30px;
    width: 734.72px;
}

.darkModeBoxContainer.dark-mode{
    border: 4px solid var(--detail);
    box-shadow: 0px 0px 10px var(--detail);
}

.darkModeBoxContainer h4{
    font-size: 24px;
    margin-bottom: 0px;
}

.dark-mode-switch{
    margin: auto;
}

.darkModeBoxContainer .sliding-toggle-display{
    position: relative;
    left: inherit;
    top: inherit;
    margin: auto;
}

@media only screen and (max-width : 850px) {
    .darkModeBoxContainer{
        width: 300px;
        padding: 20px;
    }
}