.formContainer{
    color: var(--detail);
}

.formContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
    position: relative;
}

.formContent input, select{
    margin: 10px 0px;
    border: none;
    border-radius: 25px;
    height: 20px;
    text-align: center;
    background-color: var(--detail);
    color: var(--main);
    z-index: 999;
}

.formContent input::placeholder{
    color: var(--main);
}

.pngContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.pngContainer svg{
    height: 500px;
    left: -30px;
    bottom: 50px;
    position: absolute;
    animation: fadeIn 1s linear;
    width: fit-content;
    z-index: -1;
}

.pngContainer.eau .path{
    animation: fillLow 1s linear;
    --fill : aqua; 
}

.pngContainer.feu .path{
    animation: fillLow 1s linear;
    --fill : red;  
}

.pngContainer.nature .path{
    animation: fillLow 1s linear;
    --fill : green;  
}

.formButton {
    background-color: var(--detail);
    color: var(--main);
    width: 200px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    transition: all 0.1s linear;
}

.formButton:hover{
    box-shadow: 0px 0px 10px var(--detail);
    width: 250px;
    height: 35px;
}

.createdCharacter{
    color: var(--detail);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 20%;
    transform: translate(-50%, 50%);
    width: 100%;
    font-size: 24px;
}

.changeCharacter{
    z-index: 1000;
}

@keyframes fillLow{
    0% {
        fill: black;
    }
    50%
    {
        fill: var(--fill);
    }
    100%{
        fill: black;
    }
}