.jsModuleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 734.72px;
    margin-top: 100px;
    padding: 50px;
    border: 4px solid var(--main);
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.jsModuleContainer.dark-mode{
    border: 4px solid var(--detail);
    box-shadow: 0px 0px 10px var(--detail);
}

.jsModuleContainer i{
    margin-top: 30px;
}

.jsModuleContent{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    align-items: center;
}

.jsModuleCard{
    background-color: var(--main);
    color: var(--detail);
    border-radius: 25px;
    height: 200px;
    width: 30%;
    margin: 30px;
    cursor: pointer;
}

.jsModuleCard h4{
    margin: 0px 5px;
}

.jsModuleCard.active{
    width: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px var(--main);
    animation: fadeIn 0.5s linear;
}

.jsModuleCard.inactive{
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.jsModuleCard.inactive h3{
    margin: 0 auto ;
}

.jsModuleCard.inactive h4{
    display: none;
    
}

.jsModuleCard.inactive h5{
    display: none;
}

.jsModuleNavigation{
    z-index: 999;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.jsModuleNavigation button{
    border: none;
    border-radius: 50%;
    background-color: var(--main);
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    color: var(--detail);
}

.modalContainer{
    background-color: var(--main);
    box-shadow: 0px 0px 20px var(--main);
    height: 90%;
    position: absolute;
    z-index: 999 ;
    width: 90%;
    left: 50%;
    right: 50%;
    border-radius: 20px;
    transform: translate(-50%);
    animation: fadeIn 0.5s linear;
}

.jsButton{
    padding: 5px 10px;
}

@media only screen and (max-width : 850px){
    .jsModuleContent{
        display: grid;
        margin: 30px auto;
    }

    .jsModuleCard.inactive{
        height: 50px;
        padding: 30px;
        margin: auto;
        width: 100px;
    }

    .jsModuleCard.active{
        height: 200px;
        width: 250px;
        margin: auto;
    }

    .jsModuleContainer{
        width: 300px;
        padding: 20px;
        justify-content: inherit;
        position: relative;
    }
}
